/* Title: form.html Styles
by: Bodunrin Ladele
for: VFW 1206
*/


/*Make it look like an iPhone*/
html {
    	background-color: #DBE1E5;
	}

body{	

	} 

h1 {
		color: #FFFFFF;
		margin: 10px 20px;
		border: 5px solid #41587A;
		border-radius:10px;
		padding: 10px;
		background-color: #8196AE;
		width: 85%;
		text-align: center;
		visibility: ;
		word-wrap:;

	}

p 	{
		color: #41587A;
		font-style: "Times New Roman", Times, serif;
		font-weight: bold;
		font: italic small bold 12px Arial;
		line-height:22px;
		letter-spacing: .08em;
		text-align: left;
		text-indent:;
	}

label {
		display: block;
		font-family: Arial, "MS Trebuchet", sans-serif;
		
	  }

