/* Title: form.html Styles
by: Bodunrin Ladele
for: VFW 1206
*/


/*Make it look like an iPhone*/
html {
    background-color: #DBE1E5;
}

body{	/*
		font-family: "Arial", "Helvetica", sans-serif; width: 571px;margin: auto;padding: 10px;}
		#site-wrapper{background: url(.../img.iPhoneBG.jpg) no-repeat;height:885;padding-top:20px;}
		#content{width: 480px;height: 690px;overflow: scroll;
		*/
	} 

h1 {
		margin: 10px 20px;
		border: 5px solid #000;
		border-radius:10px;
		padding: 10px;
		background-color: #8196AE;
		width: 85%;
		text-align: center;
		visibility: ;
		word-wrap:;

	}

p 	{
		color: #ff0000;
		font-style: "Times New Roman", Times, serif;
		font-weight: bold;
		font: italic small bold 12px Arial;
		line-height:22px;
		letter-spacing: .08em;
		text-align: left;
		text-indent:;
	}

label {
		display: block;
		font-family: Arial, "MS Trebuchet", sans-serif;
		
	  }

